body{margin: 0;}

#mainc{
    padding-top: 100px;

}

header
    {background-image: url("/static/img/textura-casca-arvore.jpg");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content: left;
    position: fixed;}
    #i_header>img{
        width: 200px;
        height: 100px;
        object-fit: contain;
    }
    a{
        text-decoration: none;
        font-family: 'Lato',sans-serif;
        font-size: 22px;
        color: white;
        text-align: center;
        line-height: 100px;
        letter-spacing: 2px;
    }
    .buttons-h{
        margin-right: 120px;
    }
        