html{
    /*background-image: url(/static/img/login_background.jpg);*/
    color: black;
}
input{
    font-family: 'Lato', sans-serif;
    line-height: 2;
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    min-width: 200px;
    box-shadow: 0 3px 3px rgba(39, 17, 2, 0.421);
}
label{
    display: block;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
#loginform{
    margin: 200px auto 0;
    max-width: 350px;
    padding:20px 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(39, 17, 2);
    background-color: rgba(255, 255, 255, 0.047);
}
button{
    margin-top: 10px;
    background-color:rgb(223, 223, 223);
    border: 1px solid black;
    color:black;
    cursor: pointer;
    height: 25px;
    width: 120px;
}